
<nav>
    <div class="navigation">
        <div class="logo"><a id='indexPageButtonLogo' href="index.html">Logo</a></div>
        <ul class="navbuttons">
            <li><a id='indexPageButton' href="index.html">Home</a></li>
            <li><a id='scanPageButton' href="scanner.html">Scan</a></li>
        </ul>
    </div>
</nav>